*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul , ol {
    list-style: none;
}
header{
    background: linear-gradient(147.31deg, rgba(141, 141, 236, 0.167177) 45.74%, rgba(84, 84, 212, 0.0001) 86.05%);
width: 500px;
height: 500px;
}